h1{
    font-family: 'Limelight', cursive;
}
.navbar-brand img{
    border-radius: 50%;
}
.c1 img{
	height: 500px;
}
.navlink{
	color: white;
    text-decoration: none;
    margin: 20px;
    font-size: 107%;
    font-weight: 600;
}
.navlink:hover{
	color: pink;
	text-decoration: underline;
}
.navbar-toggler{
	color: pink;
}
.c1 p{
	color: white;
	font-size: 41px;
	font-weight: 600;
	margin-bottom: 157px;
}
.color1{
	color: #782828;
}
.color2{
	color:pink;
}
.b{
	margin-top: 13px;
    text-decoration: underline;
}
.img1{
	border-radius: 15px;
    box-shadow: 0px 0px 10px #782828;
    width: 300px;
    height: 215px;
}
.txt1{
	margin-top: 36px;
	color: #782828;
	font-size: 22px;
	text-shadow: 0px 2px 3px #782828;
}
/*.bg1{
   background: #ffc0cb4f;
   background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)) ,url(../image/np5.jpg);
}*/
.txt2{
	color: #782828;
	text-decoration: underline;
    font-size: 35px;
}
.txt3{
	color: #782828;
    text-shadow: 0px 2px 11px;
    padding-left: 57px;
}
.c2 img{
	width: 90%;
	height: 497px;
	margin-top: 40px;
	border-radius: 26px;
	box-shadow: 0px 0px 10px #782828;
}
.c2 p{
	margin-bottom: 31%;
	font-size: 30px;
	font-weight: 600;
	text-shadow: 0px 4px 10px;
	animation-delay: 1s;
}
.c2 p:hover{
	color: pink;
}
.txt4{
	text-align: justify;
	padding: 49px;
	line-height: 30px;
    font-weight: 600;
}
.col-md-4 a{
	text-decoration: none;
}
.bg1{
	background: url(https://www.mptourism.com/images/culture-background.jpg);
	background-attachment: fixed;
}
.a1 img{
	height: 300px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px;
    margin-top: 13px;
}
.a1 p{
	padding: 20px;
    line-height: 30px;
    font-weight: 600;
}
.outline{
	border-bottom: 2px dashed;
	text-decoration: none;
}
.f1{
	background:#782828; 
}
.f1 img{
	width: 367px;
    margin-top: 70px;
    margin-bottom: 70px;
    box-shadow: 0px 0px 10px;
    border-radius: 7px;
}
.f2 h1{
	font-size: 20px;
    margin-top: 120px;
}
.f2 a{
	text-decoration: none;
	color: white;
}
.f2 a i{
     font-size: 30px;
}
.d{
	position: relative;
    bottom: 71px;
}
.d hr{
    height: 2px;
    color: white;
}
.d a{
	color: white;
	text-decoration: none;
}
.dropdown-menu a{
text-decoration: none;
color:#782828;
}
.dropdown-menu a:hover{
	background: #ffc0cb61;
	text-decoration: underline;
}
.modal-content{
	color: #782828;
	border:10px solid #782828;
}
.btn{
	    position: relative;
        bottom: 6px;
        box-shadow: none!important;

}
.modal-title{
	font-size: 33px;
}
.form-control{
	border: 1px solid #782828;
	box-shadow: none;
	padding-left: 116px;
    font-size: 19px;
}
.modal-body i{
	position: relative;
    top: 32px;
    left: 15px;
    font-size: 18px;
}
.modal-body img{
	height: 243px;
    width: 80%;
    position: relative;
    left: 42px;
}
@media(max-width: 768px){
	.navbar-brand img{
		width: 50px;
	}
	.c1 img{
	height: 400px;
    }
    .c1 p{
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 70px;
    }
    .img1{
    	margin-top: 24px;
    }
    .c2 img{
    	height: 300px;
    }
    .txt3{
    	text-align: center;
    	padding-left: 0px;
    }
    .a1 h3{
    	margin-top: 42px;
    }
    .f1 img{
    width: 323px;
    height: 332px;
    margin-top: 55px;
    margin-bottom: 55px;
    }
    .d{
    	bottom: -10px;
    }
    .f2 h1{
    	margin-top: 50px;
    }
    .form-control{
	padding-left: 48px;
}
.modal-body img{
	height: 171px;
    width: 85%;
    position: relative;
    left: 18px;
}
.cu{
    position: relative;
    bottom: 10px;
}
.nav-item{
    margin: 7px;
}
}
